.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainPhoto {
max-width: 500px;
}

.App {
  background-attachment: scroll;
}

.homeCard {
  background: #5D0A0A;
  background: -moz-radial-gradient(center, #5D0A0A 0%, #320705 50%, #000000 100%);
  background: -webkit-radial-gradient(center, #5D0A0A 0%, #320705 50%, #000000 100%);
  background: radial-gradient(ellipse at center, #5D0A0A 0%, #320705 50%, #000000 100%);
}

/* .portImage {
  min-width: 500px;
  min-height: 400px;
  max-width: 450px;
} */

.portText {
  min-width: 200px;
}